.about-header {
	display: grid;
	grid-template-columns: 1fr 75% 1fr;
	&__menu-btn {
		justify-self: start;
	}
	&__page-title {
		font-size: 1.5rem;
		font-weight: 600;
		text-align: center;
	}
}
