@use '@scss/variables.scss' as *;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	color: $darker-color;
	cursor: pointer;
	border: 2px solid $darker-color;
	border-radius: $main-border-rad;
	padding: 0.3rem 0;
	&--borderless {
		border: none;
	}
	&__submit,
	&__reset {
		border: 3px solid;
		font-weight: 600;
		font-size: inherit;
	}
	&__reset {
		color: $red-color;
		border-color: $red-color;
	}
}
