@use '@scss/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

:root {
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $dark-color;
}

#root {
	height: 100vh;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
}

.is-hidden {
	display: none;
}
