// colors
$main-color: #ff9900;
$dark-color: #383838;
$darker-color: #2b2b2b;
$white-color: #ffffff;
$red-color: #bb2e03;
// padding from the edges of the screen
$screen-padding: 3vw;
// general border-radius
$main-border-rad: 20px;
